.input-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1em 0;
}

.input {
    width: 95%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}